* {
  background-color: rgb(255, 216, 157);
  font-family: Comic Sans, Impact;
}
table {
  text-align: center;
}

th.pos {
  text-align: right;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background-color: rgb(250, 139, 3);
  color: black;
}

td {
  background-color: rgb(255, 255, 255);
}
